<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrailGuard</title>
    
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true"/>

</head>
<body id="top" class="flex flex-col min-h-screen">
    
    <!-- Navbar -->
    <partial name="Components/_Navbar" />

    <section class="relative h-screen bg-cover bg-center bg-no-repeat"
             style="background-image: url('/images/bg-image.png');">

        <!-- Dark overlay -->
        @* <div class="absolute inset-0 bg-[#000714]/70"></div> *@

        <!-- Optional space/container over image -->
        <div class="relative z-10">
            @RenderSection("PageHero", required: false)
        </div>
    </section>

    <!-- Main Content -->
    <main class="grow bg-[#000714] text-white">
        @RenderBody()
    </main>

    <!-- Footer -->
    <partial name="Components/_Footer" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>