/bin/
/obj/
/TestResults/
*.user
*.suo
.vscode/
.vs/
*.log
*.cache
/wwwroot/uploads/
/wwwroot/images/profiles/
/node_modules/
appsettings.Development.json

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/