<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TrailGuard.dll" stdoutLogEnabled="false" hostingModel="inprocess" />
      <security>
        <requestFiltering>
          <!-- Same 50 MiB aggregate limit as Kestrel/MVC; individual files remain capped at 5 MiB. -->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
